__pycache__/
.vscode/
dist/
.idea/
.DS_Store
.panther_settings.yml

# Merge Conflicts
*.orig

# Make it easy to add a main.py file for testing things
main.py

# Schemas folder for uploading
contents/schemas/
